<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RaceTypeConfig" value="Human"/>
    <add key="RaceTypeReflect" value="SimpleFactory,SimpleFactory.Human"/>
  </appSettings>
</configuration>